{% extends "layout.html" %}
{% block content %}
    <h1>Hello! Welcome to the online Wallmart store</h1>
    <div class="card-deck">
        {% for product in products %}
            {% if product.url is defined %}
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <details>
                        <summary>
                            <a href="{{ product.url }}" class="card-link"><h5 class="card-title">{{ product.title }}</h5></a>
                            <p class="card-text"><small class="text-muted">{{ product.brand }}</small></p>
                            <p class="card-text"><small class="text-muted">{{ product.category_id }}</small></p>
                            <h6><p class="card-text"> {{ product.price }} {{ product.currency }} </p> </h6>
                        </summary>
                        <p class="card-text">Description: {{ product.description }}</p>
                        </details>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content%}
